parameters:
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Call to an undefined method Zend_View_Interface::partial\(\)\.#'